<div class="page-container">
    <div class="sidebar">
        <div class="list-items">
            <a routerLink="page-1" routerLinkActive="selected" class="list-item">
                <i class="material-symbols-outlined">bookmark</i> 
                Tic Tac Toe 
            </a>

            <a routerLink="page-2" class="list-item">
                <i class="material-symbols-outlined">bookmark</i> 
                Kanban board
            </a>

            <a routerLink="page-3" class="list-item">
                <i class="material-symbols-outlined">bookmark</i>
                Page 3
            </a>
        </div>
    </div>
    <div class="page-content-container">
       <router-outlet></router-outlet>
    </div>
</div>